<mat-input-container class="search-bar">
    <input matInput placeholder="想听点什么？" maxlength="20" type="text" [(ngModel)]="words" (keyup)="enter($event)" />
</mat-input-container>

<div class="history">
    <div class="mini padding-s-x radius inline-block margin-s" *ngFor="let item of history; let i = index" (click)="doSearch(item)"
    [ngClass]="{accent: i === 0, primary: i === 1, warn: i === 2}">{{item}}</div>
</div>

<mat-list *ngIf="list?.length">
    <mat-list-item *ngFor="let item of list; let i = index">
        <div class="flex-1" style="white-space: nowrap;" [routerLink]="['/163/info', item.id]">
            {{item.name}}
            <div class="info">{{item.artists[0].name}} - {{item.album.name}}</div>
        </div>
        <div class="info">{{i + 1}}</div>
    </mat-list-item>
</mat-list>

<div class="more" *ngIf="list?.length" (click)="more()">
    共 {{page.count}} 条结果
    {{list.length >= page.count ? '没有更多了' : '加载更多'}}
</div>