<div class="flex body">
    <img (click)="toggle()" *ngIf="paused" src="/assets/icon/play.png" class="ctrl" />
    <img (click)="toggle()" *ngIf="!paused" src="/assets/icon/pause.png" class="ctrl" />
    <div class="flex-1 bar">
        <div class="duration audio-duration"></div>
        <div class="current" (click)="skip($event)" [ngStyle]="{width: percent}"></div>
        <div class="buffer" (click)="skip($event)" *ngFor="let buffer of buffers" [ngStyle]="{left: buffer[0]/duration*100 + '%', width: (buffer[1] - buffer[0])/duration*100 + '%'}"></div>
        <div class="cursor" *ngIf="!paused" (click)="skip($event)" [ngStyle]="{left: percent}"></div>
    </div>
    <div class="dashboard" *ngIf="current > 0">{{current | minute}} / {{duration | minute}}</div>
    <img *ngIf="!open" (click)="openUp()" src="/assets/icon/arrow_up.png" class="ctrl" />
    <img *ngIf="open" (click)="closeDown()" src="/assets/icon/arrow_down.png" class="ctrl" />
</div>