<div ytb-pull style="position: relative;overflow: hidden;" (ytbWheel)="pulled($event)" (ytbWheeling)="pulling($event)" (ytbPull)="pulled($event)" (ytbPulling)="pulling($event)">
    <div class="page top flex" *ngIf="topTip" [@ytmFly]="'top'">
        <div class="flex-1" *ngIf="!home.Freshing()" (click)="home.Fresh()">刷新</div>
        <div class="flex-1" *ngIf="home.Freshing()"><md-progress-bar mode="indeterminate" color="accent"></md-progress-bar></div>
    </div>

    <status-card [data]="wbs" *ngFor="let wbs of home.List()"></status-card>
    
    <div class="page bottom" *ngIf="bottomTip" [@ytmFly]="'bottom'">
        <div *ngIf="!home.Freshing()" (click)="home.Fetch()">加载更多</div>
        <div class="flex-1" *ngIf="home.Freshing()"><md-progress-bar mode="indeterminate" color="accent"></md-progress-bar></div>
    </div>
</div>
