<div class="body flex-y">
    <div class="flex-1">
        <div class="center padding">播放列表</div>
        <ul class="play-list">
            <ng-template ngFor let-item [ngForOf]="playList">
                <li [ngClass]="{current: currCheck(item.id)}">{{item.name}}</li>
            </ng-template>
        </ul>
    </div>
    <div class="center page flex">
        <div class="item flex-1 active">播放列表</div>
        <div class="item flex-1" (click)="toLyric()">歌词面板</div>
    </div>
    <div class="ctrl flex">
        <div>播放模式</div>
        <div class="flex-1">上一曲下一曲</div>
        <div>播放列表</div>
    </div>
</div>
<div class="mask"></div>