<div class="body flex-y">
    <div class="flex-1">
        <div class="center padding">播放列表</div>
        <ul class="play-list">
            <ng-template ngFor let-item [ngForOf]="playList">
                <li class="flex" [ngClass]="{current: currCheck(item.id)}">
                    <div class="flex-1" (click)="doPlay(item.id)">{{item.name}}</div>
                    <img src="/assets/icon/delete.png" class="icon" (click)="doDelete(item.id)" />
                </li>
            </ng-template>
        </ul>
    </div>
    <div class="center page flex small">
        <div class="item flex-1 active">列表</div>
        <div class="item flex-1" (click)="router.lyric()">歌词</div>
    </div>
    <div style="height: 124px;"></div>
</div>
<div class="mask"></div>