<div class="body" *ngIf="song">
    <div class="top center">
        <img src="{{song?.album.picUrl}}" alt="" class="cover">
        <div class="big">{{song?.name}} - {{song?.artists[0].name}}</div>
        <div class="small gray-f">{{song?.album.name}}</div>
    </div>
</div>
<!-- <player-panel *ngIf="audioStr" [duration]="duration" [current]="current"
    [buffers]="buffers" [paused]="paused" (onplay)="play($event)"
    (onpause)="pause($event)"  (onabort)="abort($event)"  (onskip)="skip($event)"></player-panel>
<lyric-panel *ngIf="lyricStr" [lrc]="lyricStr" [current]="current"></lyric-panel> -->