.cover {
    max-width: 160px;
    min-width: 50px;
    width: 40%;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    border: 4px solid #eee;
}
.top {
    padding: 24px 0;
}
.lyric {
    text-align: center;
    color: #4f4f4f;
    font-size: 14px;
    padding: 16px;
    list-style: none;
    overflow: hidden;
}
.lyric li {
    white-space: nowrap;
}