html, body, app {
    height: 100%;
}
html, body, div, ul, li, p {
    margin: 0;padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.black-f-2{
    color: #4f4f4f;
}
.flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: relative;
}
.flex-1{
    flex: 1;
}
.scroll{
    overflow: auto;
}