<div ytb-pull style="position: relative;overflow: hidden;" (ytbWheel)="pulled($event)" (ytbWheeling)="pulling($event)" (ytbPull)="pulled($event)" (ytbPulling)="pulling($event)">
    <div class="page top flex" *ngIf="topTip" [@ytmFly]="'top'">
        <div class="flex-1"><md-progress-bar mode="indeterminate" color="accent"></md-progress-bar></div>
    </div>
    测试滚动！
    <div style="height: 50em;"></div>
    欢迎欢迎
    <div class="page bottom" *ngIf="bottomTip" [@ytmFly]="'bottom'">
        <div>加载更多</div>
    </div>
</div>