ul{
    margin: 16px;border: 1px solid #cd5c5c;
    border-radius: 5px;overflow: hidden;
}
ul li{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #eee;
    max-height: 500px;
    overflow-y: auto;
}
ul li span:first-child{
    width: 70px;
}
ul li span:not(:first-child){
    flex: 1;
}
ul li span img{
    max-width: 500px;
    width: 100%;
}