.body {
    position: fixed;
    z-index: 89;
    top: 0;left: 0;width: 100%;
    height: 100%;
    color: #fff;
}
.mask {
    position: fixed;
    z-index: 88;
    top: 0;left: 0;width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.9;
}
.cover {
    max-width: 160px;
    min-width: 50px;
    width: 40%;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    border: 4px solid #eee;
}
.top {
    padding: 24px 0;
}
.info {
    padding: 24px;
}
.mask-blur{
    z-index: 87;
    position: absolute;height: 100%;width: 100%;top: 0;left: 0;
    filter: url(/assets/img/blur.svg#blur); /* FireFox, Chrome, Opera */
    -webkit-filter: blur(20px); /* Chrome, Opera */
       -moz-filter: blur(20px);
        -ms-filter: blur(20px);    
            filter: blur(20px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);
}

.ctrl {
    background: #222;
    padding:  16px 16px 76px 16px;
}
.page {
    margin: 16px auto;
    overflow: hidden;
    border-radius: 5px;
}
.page .item {
    background: #222;
    color: #969696;
    padding: 7px 14px;
}
.page .item.active {
    background: #fff;
    color: #222;
}