<div class="body flex-y">
    <div class="info center" style="overflow: hidden;">
        <div class="big">{{song?.name}} - {{song?.artists[0].name}}</div>
        <div class="small gray-f">{{song?.album.name}}</div>
    </div>
    <lyric-panel class="flex-1" style="overflow: hidden;"></lyric-panel>
    <div class="center page flex small">
        <div class="item flex-1" (click)="router.list()">列表</div>
        <div class="item flex-1 active">歌词</div>
    </div>
    <div style="height: 124px;"></div>
</div>
<div class="mask"></div>
<img src="{{song?.album.picUrl}}" class="mask-blur" />
