.body {
    text-align: center;
    color: #aaa;
    list-style: none;
    width: 50%;
    min-width: 300px;
    padding: 16px;
    margin: 0 auto;
    overflow: hidden;
}
.body li.current {
    color: #fff;
}