<div class="flex-column">
    <md-toolbar color="accent">
        <span (click)="sidenav.open()">
            Yitibo!
        </span>
        <span class="ytb-fill-remaining-space"></span>
        <ytb-userbar></ytb-userbar>
    </md-toolbar>
    <md-sidenav-container class="body">
        <md-sidenav class="ytb-slidemenu" #sidenav>
            <a md-button [ngClass]="{'active': routerCheck('home')}" routerLink="../home"><md-icon>home</md-icon> 首页</a>
            <a md-button [ngClass]="{'active': routerCheck('public')}" routerLink="../public"><md-icon>assignment</md-icon> 公共微博</a>
            <a md-button [ngClass]="{'active': routerCheck('api')}" routerLink="../api"><md-icon>backup</md-icon> 接口中心</a>
            <a md-button [ngClass]="{'active': routerCheck('develop')}" routerLink="../develop"><md-icon>face</md-icon> 开发中心</a>
        </md-sidenav>
        <router-outlet></router-outlet>
    </md-sidenav-container>
</div>
