.flex-column{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    height: 100%;
    background: #fbfbfb;
}
.ytb-body{
    width: 100%;
    max-width: 780px;
    min-width: 300px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    margin: 0 auto;
    background: #fff;
    height: 100%;
    overflow-y: auto;
}
.top-menu{
    padding: 6px 12px;color: #ddd;
    line-height: 1;border-radius: 3px;margin-left: 12px;
    overflow: hidden;transition: 0.3s;
}
.top-menu:hover{
    background: rgba(255, 255, 255, 0.30);
    cursor: pointer;color: #fff;
}
