<div class="flex-column">
    <mat-toolbar color="primary">
        <div class="nav-top flex">
            <span style="cursor: pointer;" routerLink="/home">
                Yitigram!
            </span>
            <span class="top-menu" matTooltip="调音室" matTooltipPosition="below" routerLink="/studio"><mat-icon>headset</mat-icon></span>
            <span class="top-menu" matTooltip="微博" matTooltipPosition="below" routerLink="/weibo"><mat-icon svgIcon="weibo"></mat-icon></span>
            <span class="top-menu" matTooltip="云音乐" matTooltipPosition="below" routerLink="/163"><mat-icon svgIcon="music"></mat-icon></span>
            <span class="flex-1"></span>
        </div>
    </mat-toolbar>
    <div class="ytb-body">
        <router-outlet></router-outlet>
    </div>
</div>

<router-outlet name="studio"></router-outlet>
