.flex-column{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    height: 100%;
    background: #eee;
}
.ytb-body{
    max-width: 980px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    margin: 0 auto;
    background: #fff;
    height: 100%;
    overflow-y: auto;
}
.top-menu{
    padding: 6px 12px;color: #ddd;
    line-height: 1;border-radius: 3px;margin-left: 12px;
}
.top-menu:hover{
    background: #ff73b4;
    cursor: pointer;color: #fff;
}
