<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Yitibo!</title>
  <script src="https://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1799973901&debug=true" type="text/javascript" charset="utf-8"></script>
  <script src="/assets/weibo-xd.js" type="text/javascript"></script>
  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>
</head>
<iframe src="" frameborder="0"></iframe>
<body>
  <app>
    Loading...
  </app>
</body>
</html>
