<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Yitibo!</title>
  <script type="text/javascript" src="http://tjs.sjs.sinajs.cn/t3/platform/js/api/wb.js" charset="utf-8" ></script>
  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>
</head>
<body>
  <app>
    Loading...
  </app>
</body>
<script type="text/javascript">
  WB.core.load(['connect', 'client'], function() {
      var cfg = {
          key: '1799973901',
          xdpath: 'http://weibo.yitimo.com/assets/xd.html'
      };
      WB.connect.init(cfg);
      WB.client.init(cfg); 
  });
</script>
</html>
